// Chat scroller
._4_j4 {
    ._ih3 {
        margin-bottom: 3px;
    }
    ._1wfr {
        padding-left: 20px;
    }

    // On larger screens, reduce chat font size from 16px
    @media(min-width: 1600px) {
        .__i_ {
            font-size: 15px !important;
        }
    }
}

.Mess-chat_style-bubbles {
    // Chat scroller
    ._4_j4 {
        // Hide user's avatar with right-aligned bubbles
        .Mess-auth-avatar {
            display: none;
        }
    }
}

.Mess-chat_style-irc {
    $avatar-width: 40px;
    $message-padding: 20px;

    // Chat scroller
    ._4_j4 {
        // Date break
        ._497p {
            margin-top: 0;
        }

        // Group of messages
        ._41ud {
            // Message left offset
            margin: 0 0 0 $avatar-width + 20px;
            padding: $message-padding 0;
            border-top: 1px solid transparent;
        }
        // Other message group
        ._1t_p {
            margin-bottom: 0;
        }

        // Make a chat message fill the width
        ._3058._52mr {
            max-width: 90% !important;
        }

        // All bubbles
        ._hh7 {
            margin: 6px 0 0;
            padding: 0;
            background: none !important;

            a {
                color: $color-primary !important;
            }
        }
        
        // Attachment container
        ._3058._15gf {
            margin-top: 4px;
        }

        // My avatar
        .Mess-auth-avatar {
            // Some messages auth avatars have translateY(-50%)
            ._1t_r {
                transform: none;
            }
        }
        // My name
        ._1t_p ._-ne {
            height: initial;
            opacity: 1;
        }
        // My messages
        ._nd_ {
            // Bubbles Actions container
            ._hh7,
            ._40fu {
                float: left !important;
            }
        }
        // My Share attachment, My video
        ._o46._3i_m ._3058._15gf ._2poz, ._o46._3i_m ._3zvs,
        ._o46._3i_m ._3058 {
            float: left !important;
        }

        // Sender name
        ._ih3 {
            margin: 0;
            padding-left: 0;
            font-size: 15px;
        }

        // Sender avatar
        ._1t_q {
            ._1t_r {
                top: $message-padding;
                bottom: initial;
            }
            // Sender avatar divs, img
            ._4ldz, ._4ld-, ._4ld- img {
                width: $avatar-width !important;
                height: $avatar-width !important;
                max-width: none !important;
                max-height: none !important;
            }
        }

        // Chat reaction
        ._4kf7 {
            justify-content: initial;
            position: static;
            left: 0;
            margin-top: 6px;
            margin-left: -2px;
        }
        // Text message reaction
        ._3058._3oh- + ._40fu ._2u_d {
            transform: translate(15%, -30%);
        }
        // Attachment chat reaction
        ._2poz + ._4kf7 {
            justify-content: flex-end;
            position: absolute;
            left: initial;
        }
        // Message with chat reaction?
        ._1nc7:not(:last-of-type) ._5z-5, ._1nc6:not(:last-of-type) ._5z-5, ._3erg:not(:last-of-type) ._5z-5 {
            margin-bottom: 0;
        }

        // My message actions, User has replied to a Day
        ._nd_ ._2u_d,
        ._5yn._5yo {
            flex-direction: row;
        }
        // My message actions
        ._nd_ ._2u_d {
            transform: translate(15%, -50%);
        }
    }

    &.Mess-theme-light {
        // Chat scroller
        ._4_j4 {
            // Group of messages
            ._41ud {
                border-color: #ECEEEF;
            }

            // All bubbles
            ._hh7 {
                color: darken(#737F8D, 10%);
            }
        }
    }

    &.Mess-theme-dark {
        // Chat scroller
        ._4_j4 {
            // Group of messages
            ._41ud {
                border-color: rgba(#FFF, 0.04);
            }

            // All bubbles
            ._hh7 {
                color: rgba(#FFF, 0.7);

                a {
                    color: $color-primary;
                }
            }

            // Chat reaction
            ._4kf7 {
                // Button
                ._aou, ._4kf5 {
                    background: #000;
                    color: #9D9D9D;
                }
            }
        }
    }
}

.Mess-theme-light {
    
}

.Mess-theme-dark {
    // App body
    ._4sp8 {
        background: #36393E;
    }

    // Chat scroller
    ._4_j4 {
        // Person who sent the message, Date break
        ._ih3,
        ._497p {
            color: #707578;
        }

        // Context banner
        ._llj {
            // Subtitles
            ._1n-e {
                color: #707578;
            }
            // Name
            ._llq,
            ._36zg {
                color: #AAA;
            }
        }
    }

    // Attachment attribution, Link preview text block, Another type of link preview
    ._2f5n,
    ._5i_d ._5swm,
     ._tih._49ou._310t {
        background: rgba(#212121, 0.2);
        
        ._29ey {
            color: rgba( #FFF, 0.6);
        }
    }
    
    // Share text, Link preview title and description
    .__6k, .__6l,
    ._5i_d .__6k, ._5i_d .__6l {
        color: #E2DED6;
    }
    // Share URL/subtitle, Link preview URL/subtitle
    .__6m,
    ._5i_d .__6m {
        color: #6F6B63
    }

    // Poll, RTC Attachment (Phone call)
    ._3b4t, ._55q._5i_d._52mr {
        background: rgba(0, 0, 0, 0.1);

        // "Poll" heading, Phone call title
        ._3b4u ._4qba,
        ._50f7 {
            color: rgba(#FFF, 0.75);
        }
        // Voter avatar
        ._4mnq {
            border-color: #2F2F2F;
        }
    }

    // Chat reactions/poll vote/etc dialog
    ._53ij {
        background: #000;

        // Poll text
        ._1mr_ {
            color: #FFF;
        }

        // Poll radio
        ._2m5p {
            border-color: rgba(#FFF, 0.2);
        }
        // Poll radio label
        ._1mq- {
            color: rgba(#FFF, 0.7);
        }

        // Voter avatar {
        ._4mnq {
            border-color: #000;
        }
    }

    &.Mess-chat_style-bubbles {
        // Other people's bubble (not emoji only message)
        ._29_7 ._hh7:not(._581a) {
            background: rgba(#FFF, 0.2);
        }
    }
}
