// Composer
._4rv3 {
    box-sizing: border-box;
    align-items: flex-start;
    margin: 0 20px;
    padding: 20px 0 30px;

    // Input wrapper
    ._5irm {
        box-sizing: border-box;
        display: flex;
        min-height: 44px;
        margin: 0 !important;
        padding: 0 10px;
        border: none;
        border-radius: $border-radius;

        ._kmc {
            width: 100%;
            padding-bottom: 9px;
        }

        // Input
        ._3-8x {
            margin: 0;
        }

        // Chat actions
        ._4rv4 {
            justify-content: flex-start;
        }
    }

    @media(min-width: 952px) {
        ._5irm {
            align-items: flex-start;

            ._kmc {
                padding-top: 13px;
                padding-bottom: 13px;
            }

            // Chat actions
            ._4rv4 {
                padding: 5px 0;

                // Send a like custom emoji
                ._4rv9 img {
                    float: right;
                }
            }
        }
    }
}

.Mess-theme-light {
    border: none;
    box-shadow: 0 -1px 0 rgba(#FFF, 0.1);

    ._4rv3 {
        ._5irm {
            border-color: #DADDDF;
            background: #F6F6F7;

            ._kmc {

                // Placeholder
                ._1p1v {
                    color: hsla(218, 5%, 47%, 0.3);
                    -webkit-text-fill-color: hsla(218, 5%, 47%, 0.3);
                }
            }
        }
    }
}

.Mess-theme-dark {
    // Textarea
    ._4rv3 {
        border-top: 1px solid rgba(#FFF, 0.06);

        // Input wrapper
        ._5irm {
            background: hsla(218, 5%, 47%, 0.3);

            ._kmc {
                color: rgba(#FFF, 0.7);

                // Placeholder
                ._1p1v {
                    color: rgba(#FFF, 0.3);
                    -webkit-text-fill-color: rgba(#FFF, 0.3);
                }
            }

            // Sticker action, Game action
            ._4rv6,
            ._4ce_ {
                opacity: 1;
                background-image: url('chrome-extension://__MSG_@@extension_id__/img/chat-actions.png');
                // filter: invert(100%);
            }
        }
    }
}
