$action-size: 24px;
$action-color: #4F545C;

// Header
._5742 {
    display: flex;
    align-items: center;
    // Seems to be a gap between conversations and header
    position: relative;
    left: -1px;
    height: $header-height !important;
    // Fill the gap made with left
    margin-right: -1px;
    border-bottom: 1px solid transparent;
    text-align: left !important;

    // Conversation title
    ._5743 {
        width: initial !important;
        margin-left: 0 !important;

        ._3oh- {
            margin-left: 12px;
            font-weight: bold;
        }

        // Subtitle "active x minutes ago"
        ._2v6o {
            margin-left: 12px;
        }
    }

    // Group settings dropdown
    // Moved into the header by chat-settings.js
    ._3-ne {
        opacity: 0.75;
        margin-left: 10px;

        // Disable outline on trigger
        ._5blh {
            outline: none;
        }
    }

    // Chat actions
    ._fl2 {
        // Placed in front of the group settings dropdown
        z-index: 1;
        bottom: initial;
        padding: 0 15px 0 0;

        li {
            margin-right: 15px;
        }
        a {
            &, > div, svg {
                width: $action-size;
                height: $action-size;
            }
        }

        // Button (a)
        ._30yy {
            opacity: 0.6;
            transition: opacity 0.2s;

            &:hover, &:focus {
                opacity: 0.8;
            }
        }
        svg, svg path {
            stroke-width: 3px !important;
        }
        svg polygon, svg circle {
            stroke-width: 2px !important;
        }
        // Right sidebar is active
        li:last-child {
            a[aria-expanded="true"] {
                opacity: 1;
            }
            svg g g path {
                stroke-width: 0 !important;
            }
        }
    }

    // Contact's messenger day
    ._1cwz {
        order: 2;
        position: relative;
        top: 20px;
        margin-left: 30px;
    }
}

// Light theme
.Mess-theme-light {
    $action-color: #4F545C;

    // Header
    ._5742 {
        box-shadow: 0 2px 0 rgba(#ECEEEF, 0.25);
        border-color: #ECEEEF;
        background: #FFF;

        // Conversation title
        ._5743 ._3oh- {
            color: $action-color;
        }

        // Chat actions
        ._fl2 {
            // On small screens, this can overlap the title
            background: #FFF;

            svg, svg path {
                stroke: $action-color !important;
            }
            svg polygon, svg circle {
                fill: $action-color !important;
            }
            li:last-child {
                svg g g path {
                    fill: $action-color !important;
                }
            }
        }
    }
}

// Dark theme
.Mess-theme-dark {
    $action-color: #FFF;

    // Header
    ._5742 {
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
        border-color: #303337;
        background: #36393E;

        // Conversation title
        ._5743 ._3oh- {
            color: $action-color;
        }
        //Subtitle
        ._2v6o {
            color: #707578;
        }

        ._3-ne {
            opacity: 0.5;
        }

        // Chat actions
        ._fl2 {
            // On small screens, this can overlap the title
            background: #36393E;

            svg, svg path {
                stroke: $action-color !important;
            }
            svg polygon, svg circle {
                fill: $action-color !important;
            }
            li:last-child {
                svg g g path {
                    fill: $action-color !important;
                }
            }
        }

        // Contact's messenger day
        ._1cwz {
            // Time
            ._1suk {
                color: #707578;
            }
        }
    }
}
