$action-color: #4F545C;

// Header
._5742 {
    display: flex;
    align-items: center;
    height: $header-height !important;
    box-shadow: $header-box-shadow;
    background: #FFF;
    text-align: left !important;

    // Conversation title
    ._5743 {
        width: initial !important;
        margin-left: 0 !important;

        ._3oh- {
            margin-left: 12px;
            font-weight: bold;
            color: $action-color;
        }

        // Subtitle "active x minutes ago"
        ._2v6o {
            margin-left: 12px;
        }
    }

    // Group settings dropdown
    // Moved into the header by chat-settings.js
    ._3-ne {
        opacity: 0.75;
        margin-left: 10px;

        // Disable outline on trigger
        ._5blh {
            outline: none;
        }
    }

    // Chat actions
    ._fl2 {
        // Placed in front of the group settings dropdown
        z-index: 1;
        bottom: initial;
        padding: 0 15px 0 0;
        // On small screens, this can overlap the title
        background: #FFF;

        li {
            margin-right: 15px;
        }

        // Button (a)
        ._30yy {
            opacity: 0.6;
            transition: opacity 0.2s;

            &:hover, &:focus {
                opacity: 0.8;
            }
        }
        svg, svg path {
            stroke: $action-color !important;
            stroke-width: 3px !important;
        }
        svg polygon, svg circle {
            fill: $action-color !important;
            stroke-width: 2px !important;
        }
        // Right sidebar is active
        li:last-child svg g g path {
            fill: #000 !important;
            stroke-width: 0 !important;
        }
    }
}
