// The header above chat when a plan has been created in the conversation
.Mess-theme-dark {
    ._3nta {
        border-bottom: none !important;

        ._2n3t {
            background: #2A2C31;
            color: #FFF;
        }
        ._2n3u {
            color: rgba(#FFF, 0.4);
        }
    }
}
