.Mess-theme-dark {
    // All modal containers
    ._59s7 {
        background: none;
    }

    // Camera modal, Change Emoji modal
    ._4eby._2c9g {
        background: #000;
        color: #FFF;

        // Title
        ._19jt, ._4ebz {
            color: #EEE;
        }
        .uiCloseButton {
            filter: brightness(1000%);

            &:hover, &:focus {
                filter: none;
            }
        }
    }
}
