// Textarea
._4rv3 {
    box-sizing: border-box;
    align-items: flex-start;
    margin: 0 20px;
    padding: 20px 0 30px;

    // Input wrapper
    ._5irm {
        box-sizing: border-box;
        display: flex;
        min-height: 46px;
        margin: 0 !important;
        padding: 0 10px;
        border: 2px solid transparent;
        border-radius: 3px;

        ._kmc {
            width: 100%;
            padding-bottom: 9px;
        }

        // Input
        ._3-8x {
            margin: 0;
        }

        // Chat actions
        ._4rv4 {
            justify-content: flex-start;
        }
    }

    @media(min-width: 952px) {
        ._5irm {
            align-items: flex-start;

            ._kmc {
                padding-top: 12px;
                padding-bottom: 12px;
            }

            // Chat actions
            ._4rv4 {
                padding: 5px 0;

                // Send a like custom emoji
                ._4rv9 img {
                    float: right;
                }
            }
        }
    }
}

.Mess-theme-light {
    ._4rv3 {
        ._5irm {
            border-color: #DADDDF;
        }
    }
}

.Mess-theme-dark {
    // Textarea
    ._4rv3 {
        // Input wrapper
        ._5irm {
            border-color: rgba(#FFF, 0.2);
            background: rgba(#FFF, 0.06);

            ._kmc {
                color: rgba(#FFF, 0.7);

                // Placeholder
                ._1p1v {
                    color: rgba(#FFF, 0.2);
                    -webkit-text-fill-color: rgba(#FFF, 0.2);
                }
            }

            // Sticker action, Game action
            ._4rv6, ._4ce_ {
                opacity: 1;
                background-image: url('chrome-extension://__MSG_@@extension_id__/img/chat-actions.png');
            }
        }
    }
}
