// Textarea
._4rv3 {
    box-sizing: border-box;
    align-items: flex-start;
    margin: 0 20px;
    padding: 20px 0 30px;

    // Input wrapper
    ._5irm {
        box-sizing: border-box;
        display: flex;
        min-height: 46px;
        margin: 0 !important;
        padding: 0 10px;
        border: 2px solid #DADDDF;
        border-radius: 3px;

        ._kmc {
            width: 100%;
            padding-bottom: 9px;
        }

        // Input
        ._3-8x {
            margin: 0;
        }

        // Chat actions
        ._4rv4 {
            justify-content: flex-start;
        }
    }

    @media(min-width: 952px) {
        ._5irm {
            align-items: flex-start;

            // Chat actions
            ._4rv4 {
                padding: 5px 0;

                // Send a like custom emoji
                ._4rv9 img {
                    float: right;
                }
            }
        }
    }
}
