// Tooltip
._hw2 ._53ij {
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px !important;

    // Text
    ._hw3 {
        padding: 5px 10px;
        font-family: $font-family !important;
    }
}
